@tailwind base;
@tailwind components;
@tailwind utilities;

.gabarito-<uniquifier > {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    font-family: "Gabarito", sans-serif;
}

input {
    @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}
