@tailwind base;
@tailwind components;
@tailwind utilities;

.gabarito-<uniquifier > {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    font-family: "Gabarito", sans-serif;
}
